﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="1Column.Master.cs" Inherits="SimplePortal.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
        <link rel="stylesheet" href="~/Content/New3.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %>- My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"37643d6a-58c8-431f-a7a9-3f075abd83d8"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <asp:ScriptReference Name="MsAjaxBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

                <asp:Label ID="lblMessage" runat="server" Text="Message"></asp:Label>


    <header>
        <div class=" navbar-inverse navbar-fixed-top">
<%--                    <div class="Topnavbar navbar-inverse navbar-fixed-top">--%>

<%--    <div class="Navigate" id="NavigateId">--%>
            <%--<div class="LoginLogout">--%>
                <div class="pull-right Navigate LoginLogout">
                <section id="login">
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul>
                                <li><a id="registerLink" runat="server" href="~/Account/Register.aspx">Register</a></li>
                                <li><a id="loginLink" runat="server" href="~/Account/Login.aspx">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <p>
                                Hello, <a runat="server" class="username" href="~/Account/Manage.aspx" title="Manage your account">
                                    <asp:LoginName runat="server" CssClass="username" /></a>!
                                    <asp:LoginStatus id="LogOut" runat="server" onloggingout="LogOut_LoggingOut"></asp:LoginStatus> 
                        </p>
                        </LoggedInTemplate>
                        
                    </asp:LoginView>
           </section>
            </div>
<%--            </div>--%>
         <%--</div>--%>

        <div id="NavView" runat="server">
               <div class="Nav">
                    <ul  runat="server">
                        <li><a runat="server" id="DeveloperWallTest" href="../DeveloperArea/ExchangeRatesPage.aspx">Wall Test</a></li>
                        <li><a runat="server" id="AdminMaintainMO" href="../AdminArea/MOMaintenance.aspx">Maintain MO</a></li>
                        <li><a runat="server" id="AdminUserAdmin" href="../AdminArea/UserAdministration.aspx">Manage Users</a></li>
                        <li><a runat="server" id="WinnerFees" href="../WinnerArea/OperatorFeeMaint_4Col.aspx">Winner Costs</a></li>
                        <li><a runat="server" id="SecondFBOFees" href="../SecondFBOArea/SecondFBO.aspx">SecondFBO Costs</a></li>
                    </ul>
                </div>
            </div>

    <div id="BodyTorso">
        <div class:"content-wrapper">
        <div class="float-left">
            <div id="logo"></div>
            <div id="TagLine">
                Take Control. Take Adventures. Take Flytze.
            </div> 
        </div>
        <div class="Njumbotron">
            <h1><asp:ContentPlaceHolder ID="Njumbotron" runat="server" /></h1>             
        </div>
        </div>
    </div>
</div>
    </header>

            <div class="Workspace">
             
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            </div>

            <footer>
        <div class="content-wrapper">
            <div class="footer">
            <div class="float-left">
                <p>&copy; <%--Framework Scripts--%>- Flytze LLC</p>
            </div>
            </div>
        </div>
    </footer>
           

<%--Site Scripts--%>
    </form>
</body>
</html>
